service: academic-management-backend
frameworkVersion: "3"

provider:
  name: aws
  runtime: nodejs20.x
  region: ap-south-1
  stage: prod
  timeout: 20
  memorySize: 512

functions:
  api:
    handler: index.handler
    events:
      - httpApi:
          path: /{proxy+}
          method: ANY
          cors: true

plugins:
  - serverless-plugin-tracing
  - serverless-esbuild

custom:
  esbuild:
    bundle: true
    minify: true
    sourcemap: false
    exclude:
      - aws-sdk
    target: node20
    define:
      require.resolve: undefined
    platform: node
    concurrency: 10

package:
  patterns:
    - "!node_modules/aws-sdk/**"
    - "!.git/**"
    - "!.gitignore"
    - "!README.md"
    - "!.env*"
