
service: academic-management-backend
frameworkVersion: "3"

provider:
  name: aws
  runtime: nodejs20.x
  region: ap-south-1
  stage: prod
  timeout: 20
  memorySize: 512

functions:
  api:
    handler: index.handler
    events:
      - httpApi:
          path: /{proxy+}
          method: ANY

package:
  individually: false
  patterns:
    - "!node_modules/aws-sdk/**"
    - "!node_modules/.bin/**"
    - "!node_modules/*/test/**"
    - "!node_modules/*/tests/**"
    - "!node_modules/*/.github/**"
    - "!node_modules/*/.eslintrc**"
    - "!node_modules/*/README.md"
    - "!node_modules/*/CHANGELOG.md"
    - "!node_modules/*/LICENSE"
    - "!.git/**"
    - "!.gitignore"
    - "!test/**"
    - "!*.test.js"
